@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 105px;
}

h2 {
  color: #2c394a;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

h3,
p,
label,
a {
  font-family: 'Roboto', sans-serif;
  color: #454545;
}

/* Navbar Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  background-color: #2c394a;
}

.header img {
  height: 50px;
}

/* Hero Section */
.hero {
  background-color: #2c394a;
  padding: 20px 30px;
  text-align: left;
  position: relative;
}

.hero h1 {
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 20px;
  width: 50%;
  position: relative;
  z-index: 2;
}

.hero p {
  color: #ffffff;
  font-size: 1.2em;
}

.wave-svg-header {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 350px;
  left: 0;
  background-color: transparent;
}

/* Form Section */
.form-section {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  position: absolute;
  width: 40%;
  right: 20px;
  top: 150px;
  z-index: 2;
}

.input-field {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
}

.input-style {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-field label {
  display: block;
  /* Place labels above input fields */
  margin-bottom: 5px;
  /* Add spacing between label and input */
}

.submit-button {
  text-align: center;
  font-weight: 700;
  padding: 15px 25px;
  background-color: #2c394a;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  /* Ensure the button is a block-level element */
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* List Content Section */
.hr {
  color: #b4c6cd;
}

.content {
  padding: 160px 40px 40px;
  background-color: #f9f9f9;
}

.fa.fa-check {
  font-size: 20px;
  color: #a2d9d3;
  padding-right: 10px;
}

.session-list {
  display: flex;
  align-items: center;
}

.session-list p {
  margin: 8px;
}

/* Cards */
.cards {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.card {
  /* width: 300px; */
  flex: 1;
  /*Make each card take up an equal amount of space */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-radius: 10px;
  margin: 0 10px;
  /* Some spacing between the cards */
}

.card img {
  width: 100%;
  height: 150px;
  display: block;
  border-radius: 10px 10px 0px 0px;
  margin: 0 auto 20px auto;
  /* Center the image and add space below */
  background-color: #ee9d98;
}

.card h3 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  /* Space below the title */
}

.card p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding: 0px 20px;
}


/* Trusted Logos */
.trusted-logos img {
  margin: 0 20px;
}

.trusted-logos {
  position: relative;
}

.trusted-by {
  text-align: center;
  margin: 40px 0;
}

/* Carousel Section */
.carousel {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel img {
  width: 160px
}

.carousel-track-container {
  overflow: hidden;
}

.carousel-track {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease;
}

.carousel-slide {
  padding: 10px;
  transition: all 1s linear 1s;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #FFF;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.prev {
  left: 10px;
  z-index: 1;
}

.next {
  right: 10px;
}

.next>svg {
  transform: rotate(180deg);
}


/* Footer Section */
.footer {
  padding: 20px;
  background-color: #2c394a;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.footer p {
  margin: 0;
  color: #FFFFFF;
}

/* Mobile responsiveness */

@media only screen and (max-width: 768px) {

  .header,
  .content {
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 576px) {
  nav.header {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0 20px 0;
  }

  nav.header a {
    background-color: #232e3e;
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  nav.header img {
    margin-top: 20px;
  }

  .form-section {
    position: relative;
    top: -40px;
    width: 90%;
    margin: 0 auto;
    left: auto;
    right:auto;
  }

  .content>section:first-child {
    background-color: #2c394a;
    margin-left: -20px;
    margin-right: -20px;
    padding: 1rem;
    padding-bottom: 60px;
  }

  .content>section:first-child p {
    color: white !important;
  }

  .content>section:first-child>p:first-child {
    margin-top: 0;
  }

  .hero {
    padding: 1rem;
  }

  .hero h1 {
    width: 100%;
    font-size: 40px;
  }

  .hero h1 br {
    display: none;
  }

  .wave-svg-header {
    top: auto;
    bottom: -540px;
  }

  .content {
    padding-top: 0;
  }

  .cards {
    flex-direction: column;
  }

  .cards .card {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .carousel img {
    width: 100px;
  }

}